.letter-tile{
	
	border-radius: 10px;
	background: linear-gradient(to bottom, #fff132 0%,#f99b02 100%);
	width:75px;
	height:75px;
	margin: 5px;
	box-shadow: 10px 10px 36px -8px rgba(0,0,0,0.75);
	cursor: pointer;
	h1{
		font-size: 53px;
		margin-top:10px;
		margin-left:auto;
		margin-right:auto;
		width:60%;
		text-align:center;
		

	}
	sup{
		position: relative;
		top:-75px;
		left:58px;
		padding:5px;
		font-size:12px;
		font-weight: bold;
		color:#fff;
		border-radius: 10px;
		background-color: #f00;		
	}

}

.wild{
		h1{
			font-size:12px;
			margin-top:27px;
			margin-left:7px;
			font-weight:900;
			color:#458B74;		
		}
		sup{
			top:-63px;

		}

}

.letterContainer{
	width: 100%;
	height: auto;
	display: block;
}