.letter-tile{
	
	border-radius: 10px;
	background: linear-gradient(to bottom, #fff132 0%,#f99b02 100%);
	width:73px;
	height:73px;
	margin: 5px;
	box-shadow: 10px 10px 36px -8px rgba(0,0,0,0.75);
	//cursor: pointer;
	.burn{
		height:73px;
		width:73px;
		position:absolute;
		top:5px;
		margin-left: -17px;   
		background-image:url("/images/flames.gif");
		z-index:1;
	}
	h1{
		font-size: 53px;
		margin-top:10px;
		margin-left:auto;
		margin-right:auto;
		width:60%;
		z-index:2;
		text-align:center;
		

	}
	sup{
		position: relative;
		top:-75px;
		left:58px;
		padding:5px;
		font-size:12px;
		font-weight: bold;
		color:#fff;
		border-radius: 10px;
		background-color: #f00;		
	}

}

.wild{
		h1{
			font-size:25px;
			margin-top:27px;
			margin-left:7px;
			font-weight:900;
			color:#458B74;		
		}
		sup{
			top:-63px;

		}

}

.tile-container{
	width: 95%;
	height: 100%;
	display: block;
	margin-left:15px;
}